# {{ ansible_managed }}
# Podman registries managed by Ansible

unqualified-search-registries = [{% for reg in baseline_config_podman_registries %}"{{ reg }}"{% if not loop.last %}, {% endif %}{% endfor %}]
