# {{ ansible_managed }}
---
server:
  address: tcp://0.0.0.0:9091

ntp:
  address: udp://time.cloudflare.com:123
  version: 4
  max_desync: 3s
  disable_startup_check: false
  disable_failure: false

log:
  level: info
  format: {{ service_authelia_log_format }}

totp:
  issuer: {{ service_authelia_domain }}
  algorithm: sha1
  digits: 6
  period: 30
  skew: 1
  secret_size: 32

webauthn:
  disable: true

authentication_backend:
  file:
    path: /config/users_database.yml

password_policy:
  zxcvbn:
    enabled: true
    min_score: {{ service_authelia_password_policy_min_score }}

session:
  expiration: {{ service_authelia_session_expiration }}
  inactivity: {{ service_authelia_session_inactivity }}
  remember_me: {{ service_authelia_session_remember_me }}
  cookies:
    - domain: {{ service_authelia_cookie_domain }}
      authelia_url: https://{{ service_authelia_domain }}
  secret: {{ service_authelia_session_secret }}
  redis:
    host: authelia-redis
    port: 6379
    password: {{ service_authelia_redis_password }}

regulation:
  max_retries: {{ service_authelia_regulation_max_retries }}
  find_time: {{ service_authelia_regulation_find_time }}
  ban_time: {{ service_authelia_regulation_ban_time }}

storage:
  encryption_key: {{ service_authelia_storage_encryption_key }}
  postgres:
    address: tcp://authelia-db:5432
    database: {{ service_authelia_db_name }}
    username: {{ service_authelia_db_user }}
    password: {{ service_authelia_db_password }}

access_control:
  default_policy: two_factor
  rules:
    - domain:
        - "{{ service_authelia_cookie_domain }}"
        - "*.{{ service_authelia_cookie_domain }}"
      policy: two_factor

notifier:
  filesystem:
    filename: /config/notification.txt

identity_validation:
  reset_password:
    jwt_secret: {{ service_authelia_jwt_secret }}

identity_providers:
  oidc:
    enforce_pkce: public_clients_only
    enable_pkce_plain_challenge: false
    lifespans:
      access_token: {{ service_authelia_oidc_access_token_lifespan }}
      id_token: {{ service_authelia_oidc_id_token_lifespan }}
      refresh_token: {{ service_authelia_oidc_refresh_token_lifespan }}
      authorize_code: 1m
    hmac_secret: {{ service_authelia_oidc_hmac_secret }}
    jwks:
      - key: |
{{ service_authelia_oidc_jwks_private_key | indent(10, first=true) }}
    clients:
      - client_id: nextcloud
        client_name: Nextcloud
        client_secret: {{ service_authelia_oidc_nextcloud_client_secret_hash }}
        public: false
        authorization_policy: two_factor
        consent_mode: implicit
        redirect_uris:
          - https://{{ service_authelia_nextcloud_domain }}/apps/user_oidc/code
        scopes:
          - openid
          - profile
          - email
          - groups
        token_endpoint_auth_method: client_secret_post

      - client_id: paperless
        client_name: Paperless-ngx
        client_secret: {{ service_authelia_oidc_paperless_client_secret_hash }}
        public: false
        authorization_policy: two_factor
        consent_mode: implicit
        redirect_uris:
          - https://{{ service_authelia_paperless_domain }}/accounts/oidc/authelia/login/callback/
        scopes:
          - openid
          - profile
          - email
        token_endpoint_auth_method: client_secret_basic

      - client_id: jitsi
        client_name: Jitsi Meet
        client_secret: {{ service_authelia_oidc_jitsi_client_secret_hash }}
        public: false
        authorization_policy: two_factor
        consent_mode: implicit
        redirect_uris:
          - https://{{ service_authelia_jitsi_domain }}/oidc/callback
        scopes:
          - openid
          - profile
          - email
        token_endpoint_auth_method: client_secret_post

      - client_id: wordpress
        client_name: WordPress
        client_secret: {{ service_authelia_oidc_wordpress_client_secret_hash }}
        public: false
        authorization_policy: two_factor
        consent_mode: implicit
        redirect_uris:
          - https://{{ service_authelia_wordpress_domain }}/wp-admin/admin-ajax.php?action=openid-connect-authorize
        scopes:
          - openid
          - profile
          - email
        token_endpoint_auth_method: client_secret_post
