---
- name: Journald persistent konfigurieren
  ansible.builtin.template:
    src: journald.conf.j2
    dest: /etc/systemd/journald.conf
    owner: root
    group: root
    mode: "0644"
  notify: Restart systemd-journald

- name: Persistentes Journal-Verzeichnis sicherstellen
  ansible.builtin.file:
    path: /var/log/journal
    state: directory
    owner: root
    group: systemd-journal
    mode: "2755"
  notify: Restart systemd-journald

- name: Rsyslog installieren
  ansible.builtin.apt:
    name: rsyslog
    state: present
    update_cache: true

- name: Rsyslog aktivieren und starten
  ansible.builtin.systemd:
    name: rsyslog
    enabled: true
    state: started
