# {{ ansible_managed }}
DATABASE_URL=postgresql://{{ service_vaultwarden_db_user }}:{{ service_vaultwarden_db_password }}@vaultwarden-db:5432/{{ service_vaultwarden_db_name }}
ADMIN_TOKEN={{ service_vaultwarden_admin_token }}
DOMAIN=https://{{ service_vaultwarden_domain }}
SIGNUPS_ALLOWED={{ service_vaultwarden_signups_allowed }}
{% if service_vaultwarden_smtp_host %}
SMTP_HOST={{ service_vaultwarden_smtp_host }}
SMTP_PORT={{ service_vaultwarden_smtp_port }}
SMTP_SECURITY={{ service_vaultwarden_smtp_security }}
SMTP_FROM={{ service_vaultwarden_smtp_from }}
SMTP_USERNAME={{ service_vaultwarden_smtp_username }}
SMTP_PASSWORD={{ service_vaultwarden_smtp_password }}
{% endif %}
ROCKET_PORT=80
