# {{ ansible_managed }}
DATABASE_URL=postgresql://{{ service_vaultwarden_db_user }}:{{ service_vaultwarden_db_password }}@vaultwarden-db:5432/{{ service_vaultwarden_db_name }}
ADMIN_TOKEN={{ service_vaultwarden_admin_token }}
DOMAIN=https://{{ service_vaultwarden_domain }}
SIGNUPS_ALLOWED={{ service_vaultwarden_signups_allowed }}
ROCKET_PORT=80
